.heading{
  background-color: aqua;
}

.heading2{
  background-color: blue;
}

.heading3{
  background-color: orange;
}

.heading4{
  background-color: yellow;
}

.heading5{
  background-color: red;
}

.h5{
  background-color: pink;
}